*.exe
github_push_commands.txt
.vscode/
.gitignore
Sports Booking Automation/

# Deep_Learning rules
Deep_Learning/*
!Deep_Learning/*/
Deep_Learning/data/
!Deep_Learning/**/*.py
!Deep_Learning/*.py

# Ignore Real_estate_price_prediction as it has its own repo
ML_using_python/Projects/Real_estate_price_prediction/

# Ignore PersonaSpend as it has its own repo
ML_using_python/Projects/PersonaSpend/

# Ignore automation_bot as it has its own repo
python_/projects/automation_bot/

# Ignore assignment as it has its own repo
assignment/
