*.exe
github_push_commands.txt
.vscode/
.gitignore
Sports Booking Automation/

# Deep_Learning rules
Deep_Learning/*
!Deep_Learning/*/
Deep_Learning/data/
!Deep_Learning/**/*.py
!Deep_Learning/*.py

# Ignore ML_using_python/Projects as projects have their own repos
ML_using_python/Projects/

# Ignore automation_bot as it has its own repo
python_/projects/automation_bot/

# Ignore assignment as it has its own repo
assignment/

/.vscode